<main>
  <section id="inicio">
    <div class="start__firstwall">
      <div class="start__image-container"></div>
      <p>
        Hola, mi nombre es<br>
        José Miguel Mejía Crespo<br>
        Soy <span class="effectTyping">{{Roledescription}}</span>
      </p>
    </div>
    <div class="start__second">
      <div class="start__decorative line-left"></div>
      <div class="start__secondwall">
        <p>Desarrollador web con conocimiento en <span id="start__blue">QA</span> y Testing, creo soluciones digitales,<br>
          siempre pongo un punto de esfuerzo extra en lo que hago para que el trabajo<br>
          ya sea en <span id="start__blue">equipo</span> o solitario sea satisfactorio, manejo metodología agile/SCRUM.
        </p>
      </div>
      <div class="start__thirdwall">
  
      </div>
      <div class="start__decorative line-right"></div>
    </div>
  </section>

  <section id="proyectos">
    <!-- Contenido de la sección de proyectos -->
  </section>

  <section id="habilidades">
    <!-- Contenido de la sección de habilidades -->
  </section>

  <section id="contacto">
    <!-- Contenido de la sección de contacto -->
  </section>
</main>