/* You can add global styles to this file, and also import other style files */
body {
    background-color: #14062A;
    color: white;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
}